{% extends 'base.html.twig' %}

{% block title %}NOS PARTENAIRES{% endblock %}

{% block body %}
   
   <div class="container mt-5  py-5 class="bg-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0S7KmM85_vEtwc2k4aiABrLHwOfupxLFaWA&usqp=CAU')">
 <div class="card">
 <div class="card-header text-danger text-center">
    <h1>LISTES DE NOS PARTENAIRES</h1>
 </div>
  <div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StatusEntreprise</th>
                <th>Isperson</th>
                <th>Idpersonne</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partenaire in partenaires %}
            <tr>
                <td>{{ partenaire.id }}</td>
                <td>{{ partenaire.statusEntreprise }}</td>
                <td>{{ partenaire.isperson ? 'Yes' : 'No' }}</td>
                <td>{{ partenaire.idpersonne }}</td>
                <td>
                   
                    <form method="post" action="{{ path('app_partenaires_delete', {'id': partenaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                     <a href="{{ path('app_partenaires_show', {'id': partenaire.id}) }}">show</a>
                    <a href="{{ path('app_partenaires_edit', {'id': partenaire.id}) }}">edit</a>
                 <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partenaire.id) }}">
                    <button class="btn "><i class="fa-regular fa-trash-can" style="color: #e60505;"></i></button>
        </form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_partenaires_new') }}">Create new</a>
  </div>
</div>
</div>
{% endblock %}



